In [1]:
# import dependencies
import pandas as pd

In [2]:
# Files to load
student_data_to_load = "Resources/students_complete.csv"
student_data_df = pd.read_csv(student_data_to_load)
student_data_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84

In [3]:
# Add each prefix and suffix to remove to a list.
prefixes_suffixes = ["Dr. ", "Mr. ","Ms. ", "Mrs. ", "Miss ", " MD", " DDS", " DVM", " PhD"]

In [4]:
# Iterate through the "prefixes_suffixes" list and replace them with an empty space, "" when it appears in the student's name.
for word in prefixes_suffixes:
    student_data_df["student_name"] = student_data_df["student_name"].str.replace(word,"", regex = True)

In [5]:
student_data_df.head(10)

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84
5,5,Bryan Miranda,M,9th,Huang High School,94,94
6,6,Sheena Carter,F,11th,Huang High School,82,80
7,7,Nicole Baker,F,12th,Huang High School,96,69
8,8,Michael Roth,M,10th,Huang High School,95,87
9,9,Matthew Greene,M,10th,Huang High School,96,84

In [6]:
# Put the cleaned students' names in another list.
student_names = student_data_df["student_name"].tolist()
student_names

['Paul Bradley',
 'Victor Smith',
 'Kevin Rodriguez',
 'Richard Scott',
 'Bonnie Ray',
 'Bryan Miranda',
 'Sheena Carter',
 'Nicole Baker',
 'Michael Roth',
 'Matthew Greene',
 'Andrew Alexander',
 'Daniel Cooper',
 'Brittney Walker',
 'William Long',
 'Tammy Hebert',
 'Jordan Carson',
 'Donald Zamora',
 'Kimberly Santiago',
 'Kevin Stevens',
 'Brandi Lyons',
 'Lisa Davis',
 'Kristen Lopez',
 'Kimberly Stewart',
 'Christopher Parker',
 'Chelsea Griffith',
 'Cesar Morris',
 'Melanie Decker',
 'Tracey Oconnor',
 'Kelly James',
 'Nicole Brown',
 'Bobby Harris',
 'Brian Fernandez',
 'Candace Phelps',
 'Amy Gonzalez',
 'Steven Green',
 'Benjamin Carlson',
 'Kevin Bailey',
 'Jesse Newton',
 'Kimberly Mercado',
 'Gregory Roberts',
 'Matthew Mayer',
 'Jennifer Parks',
 'John Carlson',
 'Megan Roberts',
 'Debra Flores',
 'Heidi Jackson',
 'Denise Bradford',
 'Ellen Brown',
 'Amy Perkins',
 'Natalie Mitchell',
 'Tiffany Gutierrez',
 'Jennifer Hess',
 'Christine Fletcher',
 'Jon Smith',
 'Tracey Yates',
 'Jerry Gordon',
 'Michael Cox',
 'Madeline Snyder',
 'Allison King',
 'Theresa Meyer',
 'Jared Wood',
 'Eric Maynard',
 'Mark Owens',
 'Ronnie Conley',
 'Kimberly Davis',
 'Amy Mitchell',
 'Dylan Taylor',
 'Elizabeth Henderson',
 'James Lopez',
 'Michael Morgan',
 'Angela Francis',
 'Breanna Taylor',
 'Jason Johnson',
 'Kyle Martin',
 'Scott Gill',
 'Lisa Long',
 'Erin Liu',
 'Marcus Richards',
 'Jason Thompson',
 'Elizabeth Mckinney',
 'Jessica Bailey',
 'Lisa Frye',
 'Lindsey Baker',
 'Lisa Ramirez',
 'Joseph Butler',
 'Tina Lynch',
 'Leah Benitez',
 'Elizabeth Parker',
 'Melissa Hunter',
 'Madison Everett',
 'Ronald Garcia',
 'Mark Cherry',
 'Ryan Stokes',
 'Isaiah Maldonado',
 'Micheal Dennis',
 'Kevin Martinez',
 'Jessica Smith',
 'Dawn Trujillo',
 'Virginia Ramirez',
 'Marc Hernandez',
 'Jose Gonzalez',
 'Jason Dennis',
 'Gary Morris',
 'William Mcdonald',
 'Michael Savage',
 'Alexis Todd',
 'David Hansen',
 'Steven Mendez',
 'Ryan Lynch',
 'Timothy Marks',
 'Alexander Johns',
 'Kenneth Chavez',
 'Dennis Williams',
 'Michael Roy',
 'Richard Ryan',
 'Matthew Reyes',
 'Stephanie Ward',
 'Christopher Tucker',
 'Daniel Jones',
 'Devin Craig',
 'Erin Prince',
 'Bernard Ortiz',
 'Nicole Miller',
 'Christopher Fritz',
 'Bonnie Mckinney',
 'Troy Nelson',
 'Jennifer Lee',
 'Ronald Ward',
 'Nathaniel Hampton',
 'Michael Travis',
 'James Taylor',
 'Thomas Strickland',
 'Brittany Jackson',
 'Marisa Lowe',
 'Nicole Thomas',
 'Matthew Rodriguez',
 'Kent Fernandez',
 'Michelle Martin',
 'John Sparks',
 'Ann Blake',
 'Melissa Miller',
 'Steven Houston',
 'Kristen Anderson',
 'Cory Jones',
 'Jennifer Mora',
 'Dennis Griffin',
 'Darryl Brown',
 'Martin Mosley',
 'Joyce Diaz',
 'Jeffrey Rose',
 'Jamie Moreno',
 'Catherine Williams',
 'Lauren Byrd',
 'Vanessa Frazier',
 'Stephen Bryant',
 'Lawrence Liu',
 'Joseph Larsen',
 'Susan Collier',
 'Meagan Jensen',
 'Julie Harper',
 'Meghan Carroll',
 'Wanda Horton',
 'Mary Campbell',
 'Jennifer Rodgers',
 'Heather Cooper',
 'Ryan Perez',
 'Ryan Cox',
 'Darren Zavala',
 'Joseph Morales III',
 'Aaron West',
 'James Combs',
 'Curtis Garner',
 'Sarah Miller',
 'Samantha Thomas',
 'Robert Atkins',
 'Alexis Crawford',
 'Ryan Maddox',
 'Jonathan Meyer',
 'Donna Wagner',
 'William Kennedy',
 'Kimberly Martinez',
 'Matthew Anderson',
 'Kari Miller',
 'Jenna Luna',
 'Justin Contreras',
 'Mary Fox',
 'Joseph Perkins',
 'Kelly Phillips',
 'Justin Thornton',
 'Joshua Barber',
 'Travis Jackson',
 'Jordan Beasley',
 'Kevin Allen',
 'Victoria Harris',
 'Victoria Joseph',
 'Brandy Marshall',
 'Ryan Jimenez',
 'Michael Chan',
 'Christopher Phillips',
 'Kevin Murphy',
 'Vanessa Harper',
 'James Ferguson',
 'Carol Schroeder',
 'Jerry Phillips',
 'Kristin Wade',
 'Jessica Warner',
 'Dorothy Burke',
 'Bethany Walter',
 'Melissa Avery',
 'Daniel Sutton',
 'Ryan Johnson',
 'Timothy Quinn',
 'Zachary Allen',
 'Lauren Schmitt',
 'Stephanie Armstrong',
 'Ruben Rivera',
 'Patricia Petty',
 'Joseph Jacobs',
 'Bianca Wilson',
 'Donald Perez',
 'Curtis Gomez',
 'Courtney Brown',
 'Nicole Randall',
 'Steven Lambert',
 'Anthony Alvarez',
 'Shawn Farrell',
 'Jesus Schmidt',
 'Laura Wright',
 'Steven Smith',
 'Norman Thompson',
 'Anthony Wright',
 'Kayla Watts',
 'Aimee Johnson',
 'Heidi Scott',
 'Anthony Williams',
 'Sarah Hill',
 'Kim Wang',
 'Beth Manning',
 'Ryan Hanson',
 'James Wood',
 'Corey Greene',
 'John Carter',
 'Beth Garza',
 'Karen Jones',
 'Stephanie Poole',
 'Lisa Brown',
 'Paul Scott',
 'Evelyn Buck',
 'Terry Harrell',
 'Leah Skinner',
 'Anthony Mercado',
 'Walter Kelly',
 'Lori Evans',
 'Ashley Jones',
 'Amber Soto',
 'Patrick Phillips',
 'Linda Curry',
 'Alexander Obrien',
 'Vincent Garza',
 'Terry Marsh',
 'Angela Perkins',
 'Peter Hampton',
 'David Cross',
 'Clinton Ortega',
 'Jamie Escobar',
 'Sandra Mason',
 'Craig Cole',
 'Lisa Warren',
 'Maria Howard',
 'Michael Porter',
 'John Turner',
 'Timothy Wang',
 'Amanda Taylor',
 'Karen Mckenzie',
 'Brandon Miles',
 'Christina Whitaker',
 'Nicole Peterson',
 'Ashley Moore',
 'Todd Carrillo',
 'Robert Williams',
 'Ashley Jones',
 'Vanessa Parker',
 'Robert Carlson',
 'Jared Lewis',
 'Christopher Hernandez',
 'Kimberly Harris',
 'Katrina Hill',
 'Heather Lee',
 'Donald Harmon',
 'Elizabeth Sanders',
 'Richard Ramsey',
 'Carmen Johnson',
 'Elaine Osborne',
 'Kent Burns',
 'Meagan Smith',
 'Craig Hahn',
 'Jeremy Wu',
 'Aaron Rodriguez',
 'Matthew Taylor',
 'Diana Evans',
 'Michele Pearson',
 'Erik Wagner',
 'Maria Welch',
 'Debra Martin',
 'Devon Conner',
 'Christine Patel',
 'David Lopez',
 'Nathan Baird',
 'Samuel Castillo',
 'Rebecca Payne',
 'Carl Johnson',
 'William Adams',
 'Paula Harrison',
 'Wayne Atkinson',
 'Lindsay Frank',
 'Jose Garcia',
 'Andrew Gaines',
 'Rachael Liu',
 'Donald Lewis',
 'Shane Edwards',
 'Todd Levy',
 'Joanna Moore',
 'Michael Lewis',
 'James Robinson',
 'Jeffrey Arellano',
 'Heather Allen',
 'Lori Villarreal',
 'Robert Harper',
 'Karen Villegas',
 'Tracey Crane',
 'Elizabeth Allen',
 'Jorge Lynn',
 'Harold Gordon',
 'Nicholas Mcclain',
 'Tanya Harris',
 'Amy Smith',
 'Kathy Morse',
 'Andrea Wood',
 'Maureen Massey',
 'Daniel Smith',
 'Alexandra Smith',
 'Caitlin Hall',
 'Jose Carlson',
 'Deborah Macias',
 'Dwayne Rice',
 'Matthew Harris',
 'Eric Bowman',
 'Samuel Ali',
 'David Miller',
 'James Moreno',
 'Brooke Austin',
 'Alisha Martin',
 'Neil Rodriguez',
 'Gary Williams',
 'Michael Pittman',
 'Stephanie Palmer',
 'Christine Perry',
 'Suzanne David',
 'Amber Smith',
 'Ryan Jones',
 'Emily Ford',
 'Kelsey Shea',
 'Katherine Wallace',
 'Erica Conway',
 'Tyler Parker',
 'Michael Parks',
 'Elizabeth Hunt',
 'Grant Jackson',
 'Daniel Matthews',
 'Diana Silva',
 'Frank Garza',
 'Terri Fischer',
 'Robert Goodwin',
 'Bobby Ruiz',
 'Stephanie Taylor',
 'Erin Hill',
 'Erin Cohen',
 'Jeffrey Morris',
 'Elizabeth Simpson',
 'Jennifer Davis',
 'Rachel Burton',
 'Joseph Wilkins',
 'Lawrence Montgomery',
 'Patricia Howard',
 'Jessica Hanson',
 'Donna Dean',
 'Edwin Reid',
 'Jodi Brown',
 'Elizabeth Richard',
 'Aaron Martinez',
 'Stephen Fischer',
 'Diana Reeves',
 'Jeffrey Eaton',
 'Evelyn Miller',
 'Christopher Kidd',
 'Sarah Adams',
 'Melinda Nelson',
 'Kevin Brooks',
 'John Bowen',
 'Tracie Abbott',
 'Allen Foster',
 'Kathryn Elliott',
 'Christopher Walker',
 'Cynthia Martin',
 'Amanda Bennett',
 'Dennis Padilla',
 'Antonio Miller',
 'Melissa Trevino',
 'Andrew King',
 'John Martinez',
 'Lauren King',
 'Stephanie Mercado',
 'William Smith',
 'Jonathan Marshall',
 'Luke Lowery',
 'Emily Reynolds',
 'Kevin Mclean',
 'Elizabeth Taylor',
 'Pamela Rivas',
 'Tammy Martin',
 'Holly Watkins',
 'Patrick Chen',
 'Michelle Griffin',
 'Theresa Andrews',
 'Alan Henry',
 'Larry Hines',
 'Travis Frazier',
 'Julie Jones',
 'Natalie Reynolds',
 'Jessica Cohen',
 'Jason Robinson',
 'Heather Palmer',
 'Emily Cardenas',
 'Scott Glover',
 'Jacqueline White',
 'Elizabeth Espinoza',
 'Toni Porter',
 'Jennifer Mejia',
 'Brenda Peterson',
 'Paul Hamilton',
 'Patricia Nguyen',
 'James Ho',
 'Elizabeth Cohen',
 'Stephanie Lane',
 'Dawn Rhodes',
 'Theresa Robinson',
 'Breanna Mosley',
 'Carmen Wilson',
 'Ian Brown',
 'Kathleen Matthews',
 'Bryan Diaz',
 'Gina Sweeney',
 'Alan Garcia',
 'Erik Wheeler',
 'Stephanie Robles',
 'Samantha Hanson',
 'Christopher Williams',
 'Stephanie Hart',
 'Lisa Becker',
 'Bianca Johnson',
 'Amy Steele',
 'Gina Contreras',
 'Jaime Alexander',
 'Kevin Coleman',
 'Caitlin Williams',
 'Joseph Lloyd',
 'Carrie Hernandez',
 'Travis Young',
 'Francis Wright',
 'Joel Harper',
 'Eduardo Park',
 'Melissa Yoder',
 'Donna Campbell',
 'Connie Delacruz',
 'Luis Parker',
 'Pamela Watts',
 'Lindsey Mitchell',
 'Brenda Price',
 'Joseph Howard',
 'Amy Evans',
 'Paula Fernandez',
 'Amber Cunningham',
 'Preston Wheeler',
 'James Lopez',
 'Chad Drake',
 'Samuel Blackburn',
 'Shawn Nielsen',
 'Eric Perez',
 'Kevin Montgomery',
 'Terry Thomas',
 'Kim Meyer',
 'Michael Townsend',
 'Ronnie Rodriguez',
 'Savannah Smith',
 'Shane Nguyen',
 'Michael Brown',
 'Robert Young',
 'Daniel Griffin',
 'James Johnson',
 'Mary Cox',
 'Tina Aguirre',
 'Jillian Mcdonald',
 'Matthew Branch',
 'Christopher Jordan',
 'Victor Mcguire',
 'Erin Arnold',
 'Nicholas Wu',
 'Kristen Wilson',
 'Morgan Moore',
 'Stephen Smith',
 'Jeremy Romero',
 'Julie Bush',
 'Brittany Taylor',
 'James Kim',
 'Ashley Roberts',
 'Brandon Johnson',
 'David Davenport',
 'Mark Washington',
 'Alicia Marshall',
 'Barbara Santana',
 'Samantha Parker',
 'Joseph Walters',
 'Michael Zamora',
 'Kyle Cobb',
 'Jill Clark',
 'Sarah Warren',
 'Jennifer Robinson',
 'Patricia Johnson',
 'Henry Evans',
 'Alexander Ramsey',
 'Brandon Stephens',
 'Jeff Holland',
 'Samuel Schultz',
 'Brett Johnson',
 'Daniel Sherman',
 'Justin Mccall',
 'Jonathan Evans',
 'Jacqueline Kennedy',
 'Martin Stephenson',
 'Lindsey Lane',
 'Jessica Hart',
 'Edward Lucas',
 'Lisa Osborne',
 'Hannah Black',
 'Alexander Paul',
 'Brenda Wong',
 'Thomas Delgado',
 'Jeremy Sutton',
 'Paula Donaldson',
 'Valerie Thompson',
 'John Schaefer',
 'Jesus Manning',
 'Tyrone Lawson',
 'Carl May',
 'Brittany Russell',
 'Philip Edwards',
 'Robert Aguilar',
 'Aaron Russo',
 'Tracy Andrade',
 'Amy Sullivan',
 'Howard Beck',
 'Xavier Bell II',
 'Dawn Schultz',
 'Caleb Lucas',
 'Barbara Gonzalez',
 'Charles Yang',
 'David Gallagher',
 'Bethany Vargas',
 'Jennifer Schultz',
 'Paula Marshall',
 'Jordan Elliott',
 'Samantha Mcmillan',
 'Judith Johnson',
 'Grace Palmer',
 'Brandon Ramirez',
 'Carol Smith',
 'Matthew Odom',
 'Erika Gray',
 'Donna Kramer',
 'Jonathan Snyder',
 'Frank Howe',
 'Amy Beck',
 'Lori Holmes',
 'Rebekah Hampton',
 'Perry Bishop',
 'Andrew Hanson',
 'Jody Hughes',
 'Anna Garcia',
 'Colleen Walker',
 'Danny Bridges',
 'Kristina Ford',
 'Sabrina Davidson',
 'Alexander Freeman',
 'Jack Davis',
 'Victor Rivera',
 'Elizabeth Pena',
 'Neil Castro',
 'Michael Briggs',
 'Anna Andersen',
 'Elizabeth Oconnor',
 'Zachary Brooks',
 'Scott Jackson',
 'Mary Fuentes',
 'Denise Reyes',
 'Janice Collier',
 'Tina Barber',
 'Keith Rojas',
 'Michelle Decker',
 'James Smith',
 'Alexandra Thompson',
 'Jacqueline Campbell',
 'Austin Clark',
 'Brooke Thomas',
 'Molly Smith',
 'Pamela Beck',
 'Timothy Morris',
 'Lauren White',
 'Jessica Beltran',
 'Alexandra Jones',
 'Evelyn Rice',
 'Stephen Ellis',
 'Caroline Smith',
 'Fred Case',
 'Crystal Anderson',
 'Jordan Gross',
 'Marie Harris',
 'Charles Hayes',
 'Beverly Sheppard',
 'Denise Solis',
 'Alexander Myers',
 'Sally Robertson',
 'Steven Morris',
 'Nina Flores',
 'Miguel Patterson',
 'John Simpson',
 'Charles Cruz',
 'Monica Davis',
 'James Fields',
 'Kevin Frederick',
 'Jeremy Soto',
 'Ronald Harris',
 'Carol Stewart',
 'Albert Durham',
 'James Sanchez',
 'John Adams',
 'Cody Williams',
 'Ernest Love',
 'Tommy Smith',
 'Jared Anderson',
 'Jennifer Yang',
 'Joe Mercado',
 'Roberto Wright',
 'Michael Smith',
 'William Park',
 'Benjamin Williams',
 'Dean Perez',
 'Dale Miller',
 'Marissa Russell',
 'Mary Gonzalez',
 'April Jackson',
 'William Hayes',
 'Meghan Holloway',
 'Amy Coleman',
 'James Green',
 'Michael Tran',
 'Joseph Cortez',
 'Anita Moss',
 'Benjamin Stokes',
 'Michael Li',
 'Alexander Rosales',
 'Katie Dawson',
 'Shelly Erickson',
 'Kathryn Turner',
 'Jacob Lee',
 'Ryan Smith',
 'Joshua Fernandez',
 'Mia Roach',
 'William Rodriguez',
 'Wanda Cruz',
 'Pamela Hall',
 'David Smith',
 'Jason Brown',
 'Chelsea Alexander',
 'Kimberly Tate',
 'Daniel Williams',
 'Terri Jacobson',
 'Paul Harris',
 'Jessica Thompson',
 'Nancy Hawkins',
 'Deborah Phillips',
 'Mark Mendoza',
 'Stephen Williamson',
 'Jennifer Strong',
 'Matthew Moore',
 'Raymond Parker',
 'Lee Evans',
 'Curtis Rodriguez',
 'Sara Morris',
 'Dawn Palmer',
 'Brianna Benson',
 'Luis Watts',
 'Cindy Brown',
 'Summer Sandoval',
 'Ashley Smith',
 'Randy Wallace',
 'Angela Simmons',
 'Sandra Haley',
 'George Morgan',
 'Melissa Ali',
 'Matthew Oliver',
 'Michael Kirk',
 'Terry Khan',
 'Kristie Elliott',
 'Joel Campbell',
 'Anthony Henderson',
 'Brent Christensen',
 'Heidi Hayes',
 'Ryan Mcbride',
 'Kyle Murillo',
 'Angela Powell',
 'Jeanette Simmons',
 'Adam Vance',
 'Kristen Murray',
 'Jessica Burnett',
 'Alex Walker',
 'Robert Phillips',
 'Elizabeth Martinez',
 'Kristina Young',
 'Sarah Morgan',
 'Cheryl Harding',
 'Keith Hunter',
 'Todd Williams',
 'James White',
 'Kyle Johnson',
 'Andrea Suarez',
 'Michael Sanchez',
 'Jaime Torres',
 'Donald Gill',
 'Austin Lee',
 'Adrian Bowman',
 'Julie Perez',
 'Debra Maxwell',
 'Bradley Phillips',
 'Sonya Simmons',
 'Eric Miller',
 'Charles Berger',
 'Mary Monroe',
 'Destiny Burns',
 'Patrick Khan',
 'Nathaniel Henson',
 'Larry Miller',
 'Timothy French',
 'Xavier Mitchell',
 'Jason Crosby',
 'Joshua Johnson',
 'Alyssa Clark',
 'Jonathan Cooper',
 'Mark Hunt',
 'Norman Moore',
 'Brian Atkins',
 'Zachary Jones',
 'Danielle Wong',
 'Patricia Lane',
 'Joshua Rose',
 'Hannah Montes',
 'Catherine Williams',
 'Michael Jenkins',
 'James Scott',
 'Evan Ballard',
 'Andrea Miller',
 'Jasmine Lynch',
 'Jennifer Fox',
 'Jared Castro',
 'Eugene Cox',
 'Wendy Wilson',
 'Debbie Smith',
 'Michael Fletcher',
 'Jay Waters',
 'Melissa Martinez',
 'Cory Howard',
 'Mitchell Hanson',
 'Corey Boyer',
 'Elizabeth Gonzalez',
 'Robert Hutchinson',
 'David Hernandez',
 'Tammy Jordan',
 'Denise Johnson',
 'Brandi Copeland',
 'Evan Marshall',
 'Gregory Long',
 'Kristen Underwood',
 'Walter French',
 'Edwin Thompson',
 'Edward Rivera',
 'Brandon Wilson',
 'Alejandra Todd',
 'Dana Hoffman',
 'David Howard',
 'Ashley Caldwell',
 'Cindy Horn',
 'Kevin Armstrong',
 'Stacey Porter',
 'Patrick Hunt',
 'David White',
 'Tammy Black',
 'Joanna Williams',
 'Becky Moran',
 'Brenda Smith',
 'Gabrielle Webb',
 'Jared Campbell',
 'Ryan Jenkins',
 'Thomas Shepard',
 'Jeremiah Boyd',
 'Matthew White',
 'Christina Anderson',
 'Edward Olson',
 'Emily Bryant',
 'Amy Guzman',
 'Kathleen Owens',
 'John Davila',
 'Nicole King',
 'Jason Villarreal',
 'Matthew Washington',
 'Peter Simpson',
 'Cristian Espinoza',
 'Steven Fry',
 'David Miller',
 'Tamara Hernandez',
 'Jordan Lewis',
 'Carol Anderson',
 'Michael Moreno',
 'Nicholas Logan',
 'Paul Anderson',
 'Jason Young',
 'Wesley Martin',
 'Karen Wall',
 'Tara Parker',
 'Michael Reyes',
 'Amy Henderson',
 'Jessica Reed',
 'Joseph Miranda',
 'Mackenzie Jones',
 'Jon Espinoza',
 'Kelly Medina',
 'Jason Rubio',
 'Jennifer Munoz',
 'Christopher Warner',
 'Vincent Thomas',
 'Andrew Young',
 'David Jenkins',
 'Daniel Stephens',
 'Elizabeth Lewis',
 'Aaron Moore',
 'Lisa Hogan',
 'Shawn Williams',
 'Michele Dickerson',
 'Alicia Martinez',
 'Timothy Anderson',
 'Sierra Jackson',
 'Sharon Taylor',
 'Jeffrey Smith',
 'Mark Taylor',
 'Christina Ross',
 'Judy Hall',
 'Jennifer Fox',
 'Kenneth Moran',
 'Gerald Ferguson',
 'Albert Carter',
 'Michael Reilly',
 'Kathleen Schwartz',
 'Stacey Harris',
 'Paula Lee',
 'Adrian Black',
 'Rita Moreno',
 'Jason Perry',
 'Scott Ortiz',
 'Randy Mueller',
 'Samantha Anderson',
 'Phillip Brown',
 'Christina Kerr',
 'Derrick Hill',
 'Nathan Bond',
 'Marie Wilson',
 'Caitlin Jones',
 'Barbara Campbell',
 'Katie Gonzales',
 'Elijah Hall',
 'James Sanders',
 'Nicholas Martinez',
 'Maria Mack',
 'Mary Mason',
 'Tiffany Campbell',
 'Raymond Stone',
 'Dominique Henderson',
 'Martin Williams',
 'Hannah Parker',
 'Susan Webb',
 'Rachel Johnson',
 'Darren Davis',
 'Tim Carr',
 'Jesus Ryan',
 'John Hays',
 'Scott Stewart',
 'Alexandra Roberts',
 'Amanda Norman',
 'James Moody',
 'Brenda Jones',
 'Kathy Smith',
 'Raymond Clark',
 'Ashley Martin',
 'Tamara Flowers',
 'Cesar Hanson',
 'Ross Strickland',
 'Randy Moore',
 'Henry Andersen',
 'Paul Martin',
 'Sarah Stanley',
 'Jordan Lewis',
 'Ashley Richardson',
 'Michael Brown',
 'Jason Davis',
 'Wendy Mcclain',
 'Troy Williams',
 'Carrie Alexander',
 'Kyle Ware',
 'Michael Robinson',
 'Roger Wilson',
 'Teresa Fuller',
 'Craig Silva',
 'Duane Thomas',
 'Jon Crosby',
 'Jon Steele',
 'Daniel Shaw',
 'Gwendolyn Williams',
 'Angela Hess',
 'Cameron Arnold',
 'Janice Garcia',
 'Anne Bullock',
 'Katie Moody',
 'Kayla Rivas',
 'Danny Pearson',
 'Billy Robles',
 'Michelle Delgado',
 'Cindy Harrison',
 'John Dickerson',
 'Tina Armstrong',
 'Alex Franklin',
 'Ryan King',
 'Christine Guzman',
 'Helen Malone',
 'Benjamin Carpenter',
 'Jessica Dunn',
 'Jessica Kaiser',
 'Brandon Black',
 'David Hernandez',
 'Brenda Turner',
 'Katherine Black',
 'Larry Santos',
 'Zachary Dominguez',
 'Tanya Fernandez',
 'Joseph Nichols',
 'Rebecca Martinez',
 'Traci Ramirez',
 'Ryan Bauer',
 'Joshua Williams',
 'Devon Foley',
 'Heidi Walter',
 'Mario Nguyen',
 'Jordan Hernandez',
 'William Miller',
 'Nicholas Chung',
 'Christine Cooley',
 'Carrie Nelson',
 'Crystal Fowler',
 'Lori Taylor',
 'Michael Stevenson',
 'Matthew Holmes',
 'David Walls',
 'Megan Martin',
 'Karen Peterson',
 'Kristen Wallace',
 'Mark Peterson',
 'Jason Jones',
 'Keith Barber',
 'Patrick Green',
 'Antonio Lopez',
 'Travis Peterson',
 'Gabriel Hunter',
 'Amanda Ross',
 'Samuel Thompson',
 'Robert Bowman',
 'Cynthia Cox',
 'Brittany Miller',
 'Eric Torres',
 'Sandra Calhoun',
 'Jacob Bailey',
 'Jessica Harris',
 'Molly Carr',
 'Keith Davis',
 'Adriana Wade',
 ...]

In [7]:
# Create a new list and use it for the for loop to iterate through the list.
students_fixed = []

# Use an if statement to check the length of the name.

# If the name is greater than or equal to 3, add the name to the list.

for name in student_names:
    if len(name.split()) >= 3:
        students_fixed.append(name)

# Get the length of the students' names that are greater than or equal to 3.
len(students_fixed)

151

In [8]:
print(students_fixed)

['Joseph Morales III', 'Xavier Bell II', 'David Miller Jr.', 'Reginald Garcia IV', 'Kevin Brown IV', 'William Washington Jr.', 'Juan Bryant II', 'Kenneth Paul Jr.', 'Scott Rivers III', 'Mark Myers Jr.', 'Michael Norton Jr.', 'Sean Pena Jr.', 'Cody Mueller Jr.', 'Mathew White Jr.', 'Jason Daugherty Jr.', 'Leonard Webster II', 'Michael Stein Jr.', 'Ryan Phillips Jr.', 'Allen Snyder Jr.', 'Calvin Williams Jr.', 'Ronald Torres Jr.', 'Gabriel Smith III', 'Brian Pitts Jr.', 'Bruce Thompson II', 'Jeremy Sanders II', 'Austin Johnson II', 'Bryan Conway Jr.', 'Ronald Moore II', 'Robert Garrison IV', 'William Gonzalez Jr.', 'Brian Matthews Jr.', 'Eric Richards Jr.', 'Kenneth Munoz Jr.', 'Jon Delgado Jr.', 'Andrew English Jr.', 'Raymond Cox Jr.', 'Jeffrey Mcclain Jr.', 'Brian Poole V', 'Jeffrey Kim II', 'Matthew Alexander Jr.', 'Kevin Reynolds Jr.', 'Jacob Skinner Jr.', 'Dennis Gibson Jr.', 'Jimmy Shea Jr.', 'James Reed Jr.', 'Jeffery Baker Jr.', 'Derrick Hughes III', 'Joshua Rivera Jr.', 'Timothy Guzman Jr.', 'Lonnie Allen II', 'Tyrone Clark III', 'Jeffrey Nelson Jr.', 'Michael Mann II', 'David Johnson Jr.', 'Timothy Chavez Jr.', 'Brian Powell III', 'Lance Rangel Jr.', 'Noah Herrera Jr.', 'Eric Johnson Jr.', 'Victor Chavez II', 'Richard Ellis Jr.', 'Charles Goodman Jr.', 'Michael Singh Jr.', 'Jonathan Smith Jr.', 'Allen Morris Jr.', 'Aaron Solis Jr.', 'Daniel Mckinney Jr.', 'Christopher Petty Jr.', 'Michael Garcia Jr.', 'Charles Short II', 'Derek Barker Jr.', 'Zachary Garrett III', 'Thomas Harrison Jr.', 'Andrew Mitchell V', 'Aaron Davis Jr.', 'Brian Bailey Jr.', 'Jeremiah Morris IV', 'David Morales Jr.', 'Larry Chandler Jr.', 'James Clark II', 'Cameron Roman Jr.', 'Christopher Smith Jr.', 'Todd Grant Jr.', 'Kenneth Avila Jr.', 'Jason Lopez Jr.', 'Dwayne Mathis Jr.', 'Colton Collins II', 'Chris Palmer III', 'Tyler Randall Jr.', 'Joseph Morgan IV', 'Carlos Adkins Jr.', 'Mark Livingston Jr.', 'Michael Williams III', 'Eric Evans III', 'Christopher Thornton Jr.', 'Adam Hayes III', 'Michael Moore Jr.', 'Joseph Hudson II', 'William Brooks Jr.', 'Daniel Welch II', 'Roger Horton Jr.', 'Cory Marshall II', 'Joshua Thompson Jr.', 'Jon Flores II', 'Philip Jones Jr.', 'Greg Joyce Jr.', 'Thomas Frye Jr.', 'Joseph Marquez Jr.', 'Robert Smith Jr.', 'David Beck Jr.', 'Ryan Gomez II', 'Erik Smith Jr.', 'Omar Thompson Jr.', 'Leonard Roberts Jr.', 'Duane Li Jr.', 'Richard Lucero Jr.', 'Seth Medina Jr.', 'Anthony Carlson Jr.', 'Edward Dudley II', 'Matthew Lewis Jr.', 'Christopher Bowers Jr.', 'Timothy Hughes Jr.', 'Kevin Hoover IV', 'David Butler Jr.', 'Michael Wilson Jr.', 'George Hess Jr.', 'Kevin Briggs Jr.', 'Joseph Matthews III', 'Dylan Bailey Jr.', 'Anthony Woods Jr.', 'Michael Harris Jr.', 'Daniel Diaz Jr.', 'Taylor Thompson Jr.', 'Daniel Robinson Jr.', 'Ronald Phelps Jr.', 'Jonathan Reid II', 'Joshua Smith Jr.', 'Joseph Herrera III', 'Tony Robertson II', 'James Fowler III', 'William Wright II', 'Thomas Carrillo II', 'Matthew Bennett Jr.', 'Mark Lucas IV', 'Keith Newman Jr.', 'Matthew Mitchell III', 'Colin Schultz II', 'Terry Scott Jr.', 'Jason Patel Jr.', 'Steven Lewis Jr.', 'Lucas Williams Jr.']

In [9]:
# Py City Schools cleanup

In [10]:
# Add each prefix and suffix to remove to a list.
prefixes_suffixes = ["Dr. ", "Mr. ","Ms. ", "Mrs. ", "Miss ", " MD", " DDS", " DVM", " PhD"]

In [11]:
# Iterate through the words in the "prefixes_suffixes" list and replace them with an empty space, "".
for word in prefixes_suffixes:
    student_data_df["student_name"] = student_data_df["student_name"].str.replace(word,"", regex = True)

In [12]:
student_data_df.head(10)

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84
5,5,Bryan Miranda,M,9th,Huang High School,94,94
6,6,Sheena Carter,F,11th,Huang High School,82,80
7,7,Nicole Baker,F,12th,Huang High School,96,69
8,8,Michael Roth,M,10th,Huang High School,95,87
9,9,Matthew Greene,M,10th,Huang High School,96,84

In [13]:
#Files to load from the Resources folder--Declare two variables
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

In [14]:
#Read the student data file and store it in a Pandas dataframe.
student_data_df = pd.read_csv(student_data_to_load)
student_data_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84

In [15]:
#Read the school data file and store it in a Pandas dataframe.
school_data_df = pd.read_csv(school_data_to_load)
school_data_df.head()

   School ID            school_name      type  size   budget
0          0      Huang High School  District  2917  1910635
1          1   Figueroa High School  District  2949  1884411
2          2    Shelton High School   Charter  1761  1056600
3          3  Hernandez High School  District  4635  3022020
4          4    Griffin High School   Charter  1468   917500

In [16]:
#Combine the data into a single dataset
school_data_complete_df = pd.merge(student_data_df, school_data_df, on=["school_name", "school_name"])
school_data_complete_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [17]:
# Get the total number of students.
student_count = school_data_complete_df.count()
student_count

Student ID       39170
student_name     39170
gender           39170
grade            39170
school_name      39170
reading_score    39170
math_score       39170
School ID        39170
type             39170
size             39170
budget           39170
dtype: int64

In [18]:
school_data_complete_df["Student ID"].count()

39170

In [19]:
# Calculate the total number of schools.
school_count = school_data_df["school_name"].count()
school_count

15

In [20]:
# Calculate the total number of schools
school_count_2 = school_data_complete_df["school_name"].unique()
school_count_2

array(['Huang High School', 'Figueroa High School', 'Shelton High School',
       'Hernandez High School', 'Griffin High School',
       'Wilson High School', 'Cabrera High School', 'Bailey High School',
       'Holden High School', 'Pena High School', 'Wright High School',
       'Rodriguez High School', 'Johnson High School', 'Ford High School',
       'Thomas High School'], dtype=object)

In [40]:
passing_math = school_data_complete_df["math_score"] >= 70
passing_reading = school_data_complete_df["reading_score"] >= 70

In [41]:
passing_math

0         True
1        False
2        False
3        False
4         True
         ...
39165     True
39166     True
39167     True
39168     True
39169     True
Name: math_score, Length: 39170, dtype: bool

In [21]:
# Calculate the total budget.
total_budget = school_data_df["budget"].sum()
total_budget

24649428

In [22]:
# Calculate the average reading score.
average_reading_score = school_data_complete_df["reading_score"].mean()
average_reading_score

81.87784018381414

In [23]:
# Calculate the average math score.
average_math_score = school_data_complete_df["math_score"].mean()
average_math_score

78.98537145774827

In [24]:
passing_math = school_data_complete_df["math_score"] >= 70
passing_reading = school_data_complete_df["reading_score"] >= 70

In [25]:
# Get all the students who are passing math in a new DataFrame.
passing_math = school_data_complete_df[school_data_complete_df["math_score"] >= 70]
passing_math.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
5,5,Bryan Miranda,M,9th,Huang High School,94,94,0,District,2917,1910635
6,6,Sheena Carter,F,11th,Huang High School,82,80,0,District,2917,1910635
8,8,Michael Roth,M,10th,Huang High School,95,87,0,District,2917,1910635

In [26]:
# Get all the students that are passing reading in a new DataFrame.
passing_reading = school_data_complete_df[school_data_complete_df["reading_score"] >= 70]

In [27]:
passing_reading.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
5,5,Bryan Miranda,M,9th,Huang High School,94,94,0,District,2917,1910635
6,6,Sheena Carter,F,11th,Huang High School,82,80,0,District,2917,1910635

In [28]:
# Calculate the number of students passing math.
passing_math_count = passing_math["student_name"].count()

# Calculate the number of students passing reading.
passing_reading_count = passing_reading["student_name"].count()

In [29]:
print(passing_math_count)
print(passing_reading_count)

29370
33610

In [32]:
# Calculate the percent that passed math.
passing_math_percentage = passing_math_count / (student_count) * 100

# Calculate the percent that passed reading.
passing_reading_percentage = passing_reading_count / (student_count) * 100

print(passing_math_percentage)
print(passing_reading_percentage)

Student ID       74.980853
student_name     74.980853
gender           74.980853
grade            74.980853
school_name      74.980853
reading_score    74.980853
math_score       74.980853
School ID        74.980853
type             74.980853
size             74.980853
budget           74.980853
dtype: float64
Student ID       85.805463
student_name     85.805463
gender           85.805463
grade            85.805463
school_name      85.805463
reading_score    85.805463
math_score       85.805463
School ID        85.805463
type             85.805463
size             85.805463
budget           85.805463
dtype: float64

In [33]:
# Calculate the students who passed both math and reading.
passing_math_reading = school_data_complete_df[(school_data_complete_df["math_score"] >= 70) & (school_data_complete_df["reading_score"] >= 70)]

passing_math_reading.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
5,5,Bryan Miranda,M,9th,Huang High School,94,94,0,District,2917,1910635
6,6,Sheena Carter,F,11th,Huang High School,82,80,0,District,2917,1910635
8,8,Michael Roth,M,10th,Huang High School,95,87,0,District,2917,1910635
9,9,Matthew Greene,M,10th,Huang High School,96,84,0,District,2917,1910635

In [34]:
# Calculate the number of students who passed both math and reading.
overall_passing_math_reading_count = passing_math_reading["student_name"].count()
overall_passing_math_reading_count

25528

In [35]:
# Calculate the overall passing percentage.
overall_passing_percentage = overall_passing_math_reading_count / student_count * 100
overall_passing_percentage

Student ID       65.172326
student_name     65.172326
gender           65.172326
grade            65.172326
school_name      65.172326
reading_score    65.172326
math_score       65.172326
School ID        65.172326
type             65.172326
size             65.172326
budget           65.172326
dtype: float64

In [36]:
# Adding a list of values with keys to create a new DataFrame.
district_summary_df = pd.DataFrame(
          [{"Total Schools": school_count,
          "Total Students": student_count,
          "Total Budget": total_budget,
          "Average Math Score": average_math_score,
          "Average Reading Score": average_reading_score,
          "% Passing Math": passing_math_percentage,
         "% Passing Reading": passing_reading_percentage,
        "% Overall Passing": overall_passing_percentage}])
district_summary_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,Student ID 39170 student_name 39170 ...,24649428,78.985371,81.87784,Student ID 74.980853 student_name 74...,Student ID 85.805463 student_name 85...,Student ID 65.172326 student_name 65...

In [37]:
# Define a function that calculates the percentage of students that passed both # math and reading and prints the passing percentage to the output when the
# function is called.
def passing_math_percent(pass_math_count, student_count):
    return pass_math_count / (student_count) * 100

In [38]:
passing_math_count = 29370
total_student_count = 39170

In [39]:
# Call the function.
passing_math_percent(passing_math_count, total_student_count)

74.9808526933878